{% extends "base_generic.html" %}

{% block title %}<title>Movie List</title>{% endblock %}

{% block content %}

    <h1>Movie List</h1>

    {% if movie_list %}
      <ul>
        {% for movie in movie_list %}
        <li>
          <a href="{{ movie.get_absolute_url }}"><img src='{{ movie.poster }}' height="80" width="50"/>{{movie.title}}<p></p></a>
        </li>
        {% endfor %}
      </ul>

      <form>
        {% for genre in genre.name.all %}
        <p>
            <fieldset>
                <legend>Filtrar por genero</legend>
                <p><label> <input type='checkbox' name='genero' value='genre'> {genre.name} </label></p>
                <input type='submit' name='filtrar' value='Filtrar'>
            </fieldset>    
        </p>
        {% endfor %}
      </form>

      {% else %}
        <p>There are no movies in the database.</p>

    {% endif %}       
{% endblock %}