{% extends "base_generic.html" %}
{% block title %}<title>{{whatif.movie}}</title>{% endblock %}

{% block content %}
<dt>-<a href="{{ whatif.movie.get_absolute_url }}"><img src='{{ whatif.movie.poster }}' height="80" width="50"/> {{ whatif.movie }}</a></dt> 

<dd>{{ whatif.what_if }}</dd>
    <p>by {{whatif.by}}</p>
    <a href="{% url 'what-if-update' whatif.pk %}"><i class="fas fa-thumbs-up" id="like"></i></a>{{whatif.likes.count}}
    <a href="{% url 'what-if-update' whatif.pk %}"><i class="fas fa-thumbs-down" id="dislike"></i></a>{{whatif.dislikes.count}}
    <p>.</p>
    <p></p>
{% endblock %}